html {
  font-family: sans-serif;
}

div {
  width: 250px;
  height: 200px;
  margin: 0 auto;
  line-height: 10.5;
  text-align: center;
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: red;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  border-radius: 10px;
  border: 1px solid #990000;
}
