/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "JosefinSlab-Bold";
  src: url("fonts/JosefinSlab-Bold.ttf"), format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Cormorant-Regular";
  src: url("fonts/Cormorant-Regular.otf"), format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cormorant-Regular", serif;
}

h1, h2 {
  font-family: "JosefinSlab-Bold", sans-serif;
}